#footer{
    background: rgba(0, 0, 0,0.5);
    border-bottom: 0.2rem solid var(--use-me);
    
}
#footer h2{
    color: var(--use-me)
}
.footer{
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 2rem;
}
.footer-items{
    width: 33%;
    max-width: 20rem;
    border-left: 1px dashed var(--bg-light-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    padding-left: 2rem;
}

#footer h3{
    width: 8rem;
}
#footer h3:hover{
    color: var(--bg-light-color);
}
.footer-items-item-1{
    padding-bottom: 5.5rem;
}
.important-link{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    padding-left: 0%;
}
.important-link a{
    text-decoration: none;
    width: 9rem;;
    font-size: 0.8rem;
    color: var(--primary-color);
}
.important-link a:hover{
    color: var(--bg-light-color);
}
.footer-social-allicons{
    display: flex;
}
.footer-social-icon {
    text-decoration: none;
    width: 3rem;
    height: 3rem;
    background:var(--bg-dark-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    transform: scale(0.8);
    transition: 0.5s ease-in-out;
    
}
.footer-social-icon a{
    text-decoration: none;
}
.footer-social-icon i{
    font-size: 2rem;
    color: var(--bg-light-color);
}
.footer-social-icon:hover{
    background: var(--bg-light-color); 
    transform: scale(1);
}
.footer-social-icon:hover i{
    color: var(--bg-dark-color); 
}


@media(max-width:60rem){
    .footer{
        width: 100%;
        flex-direction: column;
        padding-bottom: 2rem;
    }
    .footer-items{
        width: 100%;
        margin: auto;
    }
    .footer-last-item{
        padding-bottom: 0;
    }
    .footer-items-item-1{
        padding-bottom: 0;
    }
}